.theme-toggle_svg {
    display: block;
    height: 1.25rem;
    width: 1.25rem;
    padding: 0;
}

.dark .theme-toggle_svg {
    fill: #f5f7fb;
}

.dark .group:hover .theme-toggle_svg {
    fill: #8fb2ff;
}

.theme-toggle_sun-ray {
    transition: .4s;
}

.light .theme-toggle_sun-ray {
    opacity: 0;
}

.dark .theme-toggle_sun-ray {
    opacity: 1;
}

.theme-toggle_mask-circle {
    transition: .4s;
}

.dark .theme-toggle_mask-circle {
    transform: translate(2rem, -1rem);
}

.theme-toggle_sun-moon {
    transform-origin: center;
    transition: .4s;
}

.light .theme-toggle_sun-moon {
    transform: scale(1.9);
    fill: #171a21;
}

.light .group:hover .theme-toggle_sun-moon {
    transform: scale(1.9);
    fill: #3056d3;
}

.dark .theme-toggle_sun-moon {
    transform: scale(1);
    fill: #f5f7fb;
}

.dark .group:hover .theme-toggle_sun-moon {
    transform: scale(1);
    fill: #8fb2ff;
}
