HANASAND_DB_MONITOR_BASE_URL=https://hanasand.com
HANASAND_DB_MONITOR_USER=login_monitor
HANASAND_DB_MONITOR_PASSWORD=replace_with_system_admin_monitor_password
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/replace_me
HANASAND_DB_MONITOR_DISCORD_MENTION=@here
HANASAND_DB_MONITOR_REPEAT_ALERT_MINUTES=15
HANASAND_DB_MONITOR_FAILURE_THRESHOLD=2
HANASAND_DB_MONITOR_TIMEOUT_MS=30000
