@import 'tailwindcss';

@theme {
  --background: #0a0a0a;
  --foreground: #ededed;
  --color-dark: #1a1a1a;
  --color-dark-reverse: #222222;
  --color-normal: #171717;
  --color-light: #212121;
  --color-extralight: #323232;
  --color-superlight: #424242;
  --color-almostbright: #606060;
  --color-bright: white;
}

@utility noscroll {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --color-dark: #1a1a1a;
  --color-dark-reverse: #222222;
  --color-normal: #171717;
  --color-light: #212121;
  --color-extralight: #323232;
  --color-superlight: #424242;
  --color-almostbright: #606060;
  --color-bright: white;
}

.light {
  --background: #ffffff;
  --foreground: #171717;
  --color-dark: #e7e5dd;
  --color-dark-reverse: #dad8d2;
  --color-normal: #e0e0e0;
  --color-light: #d6d6d6;
  --color-extralight: #c4c4c4;
  --color-superlight: #b0b0b0;
  --color-almostbright: #929090;
  --color-bright: black;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.4s, color 0.4s;
}

/* Profile Icon */
/* Head */
.user-icon {
  position: relative;
  width: 30px;
  height: 20px;
}

/* Head (circle outline) */
.user-icon::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border: 2px solid var(--foreground);
  border-radius: 50%;
  background: transparent;
}

.group:hover .user-icon::before {
  animation: drop 0.2s ease;
  border: 2px solid #e25822;
}

.upload {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 18px;
  height: 24px;
  overflow: hidden;
  bottom: 10%;
}

.group:hover .upload {
  animation: drop-heavy 0.3s ease;
}

.dark .upload-overlay {
  background: white;
}

.light .upload-overlay {
  background:black;
}

.logout {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 18px;
  overflow: hidden;
  right: -10%;
}

.group:hover .logout {
  animation: push-heavy 0.3s ease;
}

.dark .logout-overlay {
  background: white;
}

.light .logout-overlay {
  background:black;
}

@keyframes drop {
  0% {
    transform: translateX(-50%) translateY(0);
  }

  50% {
    transform: translateX(-50%) translateY(2px);
  }

  100% {
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes drop-heavy {
  0% {
    transform: translateX(-50%) translateY(0);
  }

  50% {
    transform: translateX(-50%) translateY(5px);
  }

  100% {
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes push-heavy {
  0% {
    transform: translateX(0) translateY(-50%);
  }

  50% {
    transform: translateX(5px) translateY(-50%);
  }

  100% {
    transform: translateX(0) translateY(-50%);
  }
}

/* Shoulders (arc outline) */
.user-icon::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 18px;
  height: 8px;
  border: 2px solid var(--foreground);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: none;
  background: transparent;
}

/* Warning */
@keyframes slide {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.animate-slide-line {
  animation: slide 5s linear forwards;
}

/* Grow to height */
@keyframes growToHeight {
  0% {
    width: 10%;
    height: 0%;
  }

  100% {
    width: 100%;
    height: 100%;
  }
}

.spawn {
  animation: growToHeight 1s ease-out forwards;
}

/* Marquee */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(0);
  }

  70% {
    transform: translateX(calc(-1 * var(--scroll-distance)));
  }

  90% {
    transform: translateX(calc(-1 * var(--scroll-distance)));
  }

  100% {
    transform: translateX(0);
  }
}

.marquee {
  display: inline-block;
  vertical-align: top;
  animation: marquee 12s linear infinite;
}

@keyframes loading-line {
  0% {
    transform: translateX(-105%);
    opacity: 0.3;
  }

  50% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0.3;
  }
}

.loading-line {
  @apply relative bg-red-500 rounded-full;
  box-shadow:
    0 0 10px #ff0000,
    0 0 20px #ff0000,
    0 0 40px #ff0000,
    0 0 60px #ff0000,
    0 0 80px #ff0000;
  animation: loading-line 3s linear infinite;
}

.glow-red {
  box-shadow:
    0 0 1em rgba(255, 0, 0, 0.5),
    0 0 3em rgba(255, 0, 0, 0.4),
    0 0 8em rgba(255, 0, 0, 0.3),
    0 0 10em rgba(255, 0, 0, 0.2),
    0 0 12em rgba(255, 0, 0, 0.1),
    inset 0 0 1em rgba(255, 0, 0, 0.3),
    inset 0 0 2em rgba(255, 0, 0, 0.15);
}

.glow-red-small {
  box-shadow:
    0 0 1em rgba(255, 0, 0, 0.4),
    0 0 3em rgba(255, 0, 0, 0.3);
}

.glow-blue {
  box-shadow:
    0 0 1em rgba(0, 72, 255, 0.5),
    0 0 3em rgba(0, 72, 255, 0.4),
    0 0 8em rgba(0, 72, 255, 0.3),
    0 0 10em rgba(0, 72, 255, 0.2),
    0 0 12em rgba(0, 72, 255, 0.05),
    inset 0 0 1em rgba(0, 72, 255, 0.3),
    inset 0 0 2em rgba(0, 72, 255, 0.15);
}

.glow-blue-small {
  box-shadow:
    0 0 1em rgba(0, 72, 255, 0.4),
    0 0 3em rgba(0, 72, 255, 0.3);
}

.glow-green {
  box-shadow:
    0 0 1em rgba(4, 207, 4, 0.5),
    0 0 3em rgba(4, 207, 4, 0.4),
    0 0 8em rgba(4, 207, 4, 0.3),
    0 0 10em rgba(4, 207, 4, 0.2),
    0 0 12em rgba(4, 207, 4, 0.05),
    inset 0 0 1em rgba(4, 207, 4, 0.3),
    inset 0 0 2em rgba(4, 207, 4, 0.15);
}

.glow-orange {
  box-shadow:
    0 0 1em rgba(253, 135, 56, 0.5),
    0 0 3em rgba(253, 135, 56, 0.4),
    0 0 8em rgba(253, 135, 56, 0.3),
    0 0 10em rgba(253, 135, 56, 0.2),
    0 0 12em rgba(253, 135, 56, 0.05),
    inset 0 0 1em rgba(253, 135, 56, 0.3),
    inset 0 0 2em rgba(253, 135, 56, 0.15);
}

.glow-orange-small {
  box-shadow:
    0 0 1em rgba(253, 135, 56, 0.4),
    0 0 3em rgba(253, 135, 56, 0.3);
}

.eh {
  background: conic-gradient(crimson,
      coral,
      gold,
      yellow,
      limegreen,
      cyan,
      purple,
      coral,
      crimson);
  background-clip: text;
  color: transparent;
  background-size: 200vw 200vh;
  animation: rgb 20s infinite linear;
  text-align: center;
  font-weight: bold;
}

.fadein {
  transform: translateZ(0);
  -webkit-transform: translate3d(0, 0, 0);
  will-change: filter, transform;
  opacity: 0;
  animation: fadein 0.5s forwards;
}

@keyframes gradient-fast {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-fast {
  animation: gradient-fast 5s linear infinite;
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}

.stroke-rgb {
  stroke: var(--foreground);
  animation: stroke-color-change 180s infinite alternate;
}

@keyframes stroke-color-change {
  0% {
    stroke: white;
  }

  10% {
    stroke: red;
  }

  16.667% {
    stroke: orange;
  }

  33.333% {
    stroke: green;
  }

  50% {
    stroke: lightblue;
  }

  66.667% {
    stroke: yellow;
  }

  83.333% {
    stroke: orange;
  }

  100% {
    stroke: red;
  }
}

.text-glow {
  transition: text-shadow 0.3s ease, color 0.3s ease;
}

.dark .group:hover .text-glow {
  text-shadow:
    0 0 8px rgba(255, 255, 255, 0.9),
    0 0 16px rgba(255, 255, 255, 0.8),
    0 0 24px rgba(255, 255, 255, 0.7);
}

.light .group:hover .text-glow {
  text-shadow:
    0 0 8px rgba(226, 88, 34, 0.9),
    0 0 16px rgba(226, 88, 34, 0.8),
    0 0 24px rgba(226, 88, 34, 0.7);
}

body.dragging {
  user-select: none !important;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  50.1%, 100% { opacity: 0; }
}
