.animate {
    padding: 4px;
    border-radius: 16px;
}

.animate:hover {
  background: conic-gradient(
        crimson,
        coral,
        gold,
        yellow,
        limegreen,
        cyan,
        purple,
        coral,
        crimson
  );
  background-size: 200% 200%;
  animation: rgb 20s linear infinite;
}