.outline {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    background: #555e6f;
}

.left_div {
    display: grid;
    place-items: center;
    margin-right: 1.25rem;
    background: conic-gradient(
        crimson,
        coral,
        gold,
        yellow,
        limegreen,
        cyan,
        purple,
        coral,
        crimson
    );
    background-clip: text;
    color: transparent;
    background-size: 200vw 200vh;
    animation: rgb 20s infinite linear;
    text-align: center;
}

@keyframes rgb {
    0%{
        background-position: 0 0;
    }

    25%{
        background-position: 0 100%;
    }

    50%{
        background-position: 100% 100%;
    }

    75%{
        background-position: 100% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.browse {
    margin-left: 5rem;
    font-size: 100px;
    text-align: center;
}

.right_div {
    display: grid;
    margin-left: 1.25rem; /* You can adjust the value as needed */
    place-items: center;
}